[submodule "projBD"]
	path = projBD
	url = https://github.com/tomhoq/projBD
[submodule "Reaction-time-IPMproject"]
	path = Reaction-time-IPMproject
	url = https://github.com/tomhoq/Reaction-time-IPMproject.git
[submodule "tfs_project"]
	path = tfs_project
	url = https://github.com/tomhoq/tfs_project.git
[submodule "Databases-Project"]
	path = Databases-Project
	url = https://github.com/tomhoq/Databases-Project
[submodule "Tecnico-File-System-pt1-"]
	path = Tecnico-File-System-pt1-
	url = https://github.com/tomhoq/Tecnico-File-System-pt1-.git
[submodule "Tecnico-File-System-pt2-"]
	path = Tecnico-File-System-pt2-
	url = https://github.com/tomhoq/Tecnico-File-System-pt2-.git
[submodule "AI-Project"]
	path = AI-Project
	url = https://github.com/tomhoq/AI-Project.git
[submodule "Networks-Project"]
	path = Networks-Project
	url = https://github.com/tomhoq/Networks-Project.git
[submodule "Machine-Learning-HWs"]
	path = Machine-Learning-HWs
	url = https://github.com/tomhoq/Machine-Learning-HWs.git
